Repository SchweizerischeBundesbahnen/scion-microfrontend-platform, pull requests merged in 2022-11, with the labels that each got.

#195 feat(platform): drop support for wildcard capability qualifiers and optional wildcard intention qualifiers
  apps/microfrontend-platform-devtools/src/app/dev-tools-manifest.service.ts
  docs/adoc/microfrontend-platform-developer-guide/chapters/core-concepts/cross-application-communication/intent-based-messaging.adoc
  docs/adoc/microfrontend-platform-developer-guide/chapters/core-concepts/intention-api/intention-api.adoc
  projects/scion/microfrontend-platform.e2e/src/manifest/manifest-registry.e2e-spec.ts
  projects/scion/microfrontend-platform.e2e/src/messaging/intent-based-messaging-specs.ts
  projects/scion/microfrontend-platform.e2e/src/messaging/messaging.e2e-spec.ts
  projects/scion/microfrontend-platform.e2e/src/router-outlet/router-outlet.e2e-spec.ts
  projects/scion/microfrontend-platform/src/lib/client/manifest-registry/manifest-service.spec.ts
  projects/scion/microfrontend-platform/src/lib/client/manifest-registry/manifest-service.ts
  projects/scion/microfrontend-platform/src/lib/client/messaging/intent-client.ts
  projects/scion/microfrontend-platform/src/lib/client/messaging/messaging.spec.ts
  projects/scion/microfrontend-platform/src/lib/host/manifest-registry/manifest-object-store.spec.ts
  projects/scion/microfrontend-platform/src/lib/host/manifest-registry/manifest-object-store.ts
  projects/scion/microfrontend-platform/src/lib/host/manifest-registry/manifest-registry.spec.ts
  projects/scion/microfrontend-platform/src/lib/host/manifest-registry/ɵmanifest-registry.ts
  projects/scion/microfrontend-platform/src/lib/host/message-broker/intent-subscription.registry.spec.ts
  projects/scion/microfrontend-platform/src/lib/host/message-broker/intent-subscription.registry.ts
  projects/scion/microfrontend-platform/src/lib/platform.model.ts
  projects/scion/microfrontend-platform/src/lib/qualifier-matcher.spec.ts
  projects/scion/microfrontend-platform/src/lib/qualifier-matcher.ts
Labels: BREAKING CHANGE, comp: microfrontend-platform

#200 fix(platform): do not unregister clients after resuming the computer from hibernation
  docs/adoc/microfrontend-platform-developer-guide/chapters/configuration/configuration.adoc
  projects/scion/microfrontend-platform/src/lib/client/client-disconnect.spec.ts
  projects/scion/microfrontend-platform/src/lib/client/messaging/broker-gateway.ts
  projects/scion/microfrontend-platform/src/lib/host/client-registry/client.constants.ts
  projects/scion/microfrontend-platform/src/lib/host/client-registry/client.ts
  projects/scion/microfrontend-platform/src/lib/host/client-registry/ɵclient.ts
  projects/scion/microfrontend-platform/src/lib/host/liveness-config.ts
  projects/scion/microfrontend-platform/src/lib/host/message-broker/message-broker.ts
  projects/scion/microfrontend-platform/src/lib/host/microfrontend-platform-config.ts
  projects/scion/microfrontend-platform/src/lib/host/public_api.ts
  projects/scion/microfrontend-platform/src/lib/microfrontend-platform.ts
  projects/scion/microfrontend-platform/src/lib/version.spec.ts
  projects/scion/microfrontend-platform/src/lib/ɵmessaging.model.ts
Labels: bug, BREAKING CHANGE, comp: microfrontend-platform

#203 fix(platform/host): use secondary origin in addition to application origin as allowed origins
  docs/adoc/microfrontend-platform-developer-guide/chapters/configuration/configuration.adoc
  projects/scion/microfrontend-platform/src/lib/client/client-connect.spec.ts
  projects/scion/microfrontend-platform/src/lib/client/messaging/messaging.spec.ts
  projects/scion/microfrontend-platform/src/lib/host/application-config.ts
  projects/scion/microfrontend-platform/src/lib/host/application-registry.spec.ts
  projects/scion/microfrontend-platform/src/lib/host/application-registry.ts
  projects/scion/microfrontend-platform/src/lib/host/client-registry/client.registry.spec.ts
  projects/scion/microfrontend-platform/src/lib/host/client-registry/client.ts
  projects/scion/microfrontend-platform/src/lib/host/client-registry/ɵclient.ts
  projects/scion/microfrontend-platform/src/lib/host/message-broker/message-broker.ts
  projects/scion/microfrontend-platform/src/lib/platform.model.ts
Labels: bug, BREAKING CHANGE
